<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/fontawesome.css">
    <link href="css/brands.css" rel="stylesheet">
    <link href="css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div>
        <div class="inline-flex">
            <div>
                <i class="fa-solid fa-user"></i>
                <!-- uses solid style -->
                <i class="fa-brands fa-github-square"></i>
                <!-- uses brand style -->
                Icon
            </div>
            <div>
                text
            </div>
        </div>
        <div class="inline-flex">
            <div>
                Icon
            </div>
            <div>
                text
            </div>
        </div>
    </div>
    <div class="row">
        <button>Hello</button>
        <div class="item big"><i class="fa-regular fa-chevron-right"></i> <i class="fa-regular fa-chevron-right"></i>
            <i class="fa-brands fa-instagram"></i>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos </div>
        <div class="item midle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos </div>
        <div class="item small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellend</div>
        <div class="item small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellend</div>
        <!-- <div class="item small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos repellend</div>
        <div class="item big">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos </div>
        <div class="item midle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos </div> -->
    </div>
    <div class="column">
        <div class="item big grow-b">1</div>
        <div class="item small grow-s">2</div>
        <div class="item midle grow-m">3</div>
    </div>
<h1>Hello</h1>
    <div class="grow">
        <div class="first">1</div>
        <div class="first">2</div>
        <div class="first">3</div>
    </div>
</body>
</html>